{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block body %}
    <h1>Event index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>BeginAt</th>
                <th>EndAt</th>
                <th>Location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.beginAt ? event.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.endAt ? event.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.location }}</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">
                    <button type="button" class="btn btn-primary"><i class="fa fa-eye"></i></button>
                   </a>

                    <a href="{{ path('event_edit', {'id': event.id}) }}">

                        <button type="button" class="btn btn-primary"><i class="fa fa-edit"></i></button>

                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <div class="navigation">
        {{knp_pagination_render(events)}}

    </div>


{% endblock %}