{% extends 'base.html.twig' %}
 {%block body %}
<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-6 col-lg-6 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">

                    <div class="row">

                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                {{ form_start(registrationForm) }}
    <div class="user">
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">

                        {{ form_row(registrationForm.name, {'attr': {'class': 'form-control form-control-user' ,'placeholder':'First Name'}}) }}

            </div>
            <div class="col-sm-6">

                    {{ form_row(registrationForm.email, {'attr': {'class': 'form-control form-control-user','placeholder':'Email Address'}}) }}

            </div>
        </div>
        <div class="form-group">

                {{ form_row(registrationForm.plainPassword, {'attr': {'class':
                    'form-control form-control-user','placeholder':'Password'}}) }}

        </div>
        <div class="form-group ">


                    {{ form_row(registrationForm.confirmPassword, {'attr': {'class':
                        'form-control form-control-user','placeholder':'Repeat Password'}}) }}


<br>
        </div>
        <button  type="submit" class="btn btn-primary btn-user btn-block">
            Register Account
        </button>


    </div>

    {{ form_end(registrationForm) }}

    <hr>
    <div class="text-center">
        <a class="small" href="{{ path('app_login') }}">Forgot Password?</a>
    </div>
    <div class="text-center">
        <a class="small" href="{{ path('app_login') }}">Already have an account? Login!</a>
    </div>
</div>
</div>
</div>
</div>
</div>

</div>

</div>

</div>
    {% endblock %}




    
    
